#btn-checkout{
    margin-top: 20px;
    background-color:  #E28F8F !important;
    border: 1px solid #E28F8F;
    width:100%;
    height: 80px;
    border-radius: 0px 0px 30px 30px;
    font-size: 20px;
}

#btn-addmore{
      background-color: #EFEFEF !important;
      border: 1px solid #EFEFEF;
      color: grey;
      border-radius: 20px;
      height: 42px;
      width: 150px;
}

textarea{
    background-color: #F6F6F6 !important;
      resize: none;
}

#total{
    margin-top:30px;
}